@import '@fortawesome/fontawesome-free/css/all.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.bunny.net/css?family=figtree:400,500,600&display=swap');
@import 'flatpickr/dist/flatpickr.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "@leaflet/dist/leaflet.css"; */

.animation-pulse {
    animation: pulse 2s infinite;
}
.audio_record {
    visibility: hidden;
}

span[aria-current="page"] .bg-white {
    background-color: #3e4095; /* Change this to the desired background color */
    color: white;
}

@keyframes pulse {
    0% {
        transform: scale(0.8);
        box-shadow: 0 0 0 0 rgba(229, 62, 62, 1);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 30px rgba(229, 62, 62, 0);
    }

    100% {
        transform: scale(0.8);
    }
}